{% extends "layout.html" %}
{% block content %}
 <h1>Add an Estate</h1>

<form method = "post" action = "/add2">
<table>
          <tr><td>Address</td><td><input type="text" id="address" name="address" /></td></tr>
          <tr><td>Date</td><td><input type="text" id="date" name="date" /></td></tr>
          <tr><td>County</td><td><input type="text" id="county" name="county" /></td></tr>
          <tr><td>State</td><td><input type="text" id="state" name="state" /></td></tr>
          <tr><td>Price</td><td><input type="text" id="price" name="price" /></td></tr>
          
          <input type="submit" value="Add Estates" />
</table>
</form>
{% endblock %}