{% extends "layout.html" %}

{% block content %}
        <h1>The Future of Estate Insight</h1>
        <p>Welcome to the newly released estateFinder database and search tools!</p>

<img src = "static/img/first-time-home-buyer.jpg" width ="450" length="275">
       
<h2>Looking for the latest information on estate sales?</h2>
<p>Look no further! We have the latest on:</p>
        <ul>
          <li>Homes in Foreclosure</li>
          <li>Bank Auctions</li>
          <li>Imrpovable Homes</li>
        </ul>
{% endblock %}